<h1>Find out what you are allergic to:</h1>
  <form action="/allergic_foods">
    <div class="form-group">
      <label for="find">Enter a number:</label>
      <input id="find" name="find" class="form-control" type="text">
    </div>
    <button type="submit" class="btn-danger">Find Out!</button>
  </form>