<h1>Welcome to Word Count</h1>
  <form action="/word_numbers">
    <div class="form-group">
      <label for="count">Enter a sentence with more than on same word:</label>
      <input id="count" name="count" class="form-control" type="text">
    </div>
    <button type="submit" class="btn-danger">Count!</button>
  </form>