<h1><strong>Welcome to Word Count</strong></h1>
<h1>Input a sentence to count the number of words it has</h1>
  <form action="/numbers">
    <div class="form-group">
      <label for="count">Enter a sentence</label>
      <input id="count" name="count" class="form-control" type="text">
    </div>

    <div class="form-group">
      <label for="look">Input the word to search</label>
      <input id="look" name="look" class="form-control" type="text">
    </div>
    <button type="submit" class="btn-danger">Count!</button>
  </form>